node_modules/
.expo/
.DS_Store
*.log

# iOS
Pods/
*.xcworkspace
.xcode.env.local

# Android
.gradle/
local.properties

# TypeScript
*.tsbuildinfo
dist/
build/

# Testing
coverage/

# Editor
.vscode/
.idea/

# Env / secrets
.env
.env.local
